.shop-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.shop-title {
  font-size: 36px; /* 글씨 크기를 키움 */
  font-weight: bold;
}

.register-shop {
  display: flex;
  align-items: center;
}

.register-button {
  display: flex;
  align-items: center;
  background-color: rgb(141, 247, 148);
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 10px;
}

.register-icon {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: 10px;
}

.register-text {
  font-size: 16px; /* 글씨 크기를 키움 */
}
