/* CollectSpot.css */
.collect-spot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-left: 15px; /* 왼쪽 공백 추가 */
    padding-right: 15px; /* 오른쪽 공백 추가 */
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .spot-select {
    width: 180px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  