.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black; /* 글씨 색을 검은색으로 통일 */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  position: relative;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.calendar-container,
.time-picker-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  width: 100%;
  max-width: 400px;
}

.calendar-dot {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}

.calendar-absolute-div {
  position: relative;
}

.selected-date {
  font-size: 1.2em;
  margin-top: 10px;
}

.time-select {
  width: 100%;
  max-width: 200px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.response-message {
  color: red;
  font-weight: bold;
}
